body {
  height: 90vh;
  line-height: var(--line-height-base);
  font-size: var(--font-size-base);
  font-family: 'Nunito', sans-serif;
  color: var(--text-color);
  background-color: var(--light);
}
