h1 {
  font-size: var(--font-size-xlarge);
}

h2 {
  font-size: var(--font-size-large);
}

h3 {
  font-size: var(--font-size-medium);
}

h4 {
  font-size: var(--font-size-base);
}

h1,
h2,
h3,
h4 {
  margin-bottom: var(--space-base);
  font-weight: 300;
  color: var(--seconday);
}
