.progress-bar {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: var(--space-base);
  padding: var(--space-base)
}

.progress-bar span {
  margin-bottom: var(--space-base);
  font-size: var(--font-size-xlarge);
  font-weight: 100;
  color: var(--primary);
}

.progress-bar progress {
  width: 100%;
  height: var(--font-size-xsmall);
  border: none;
  background: transparent;
}

.progress-bar progress[value] {
  -webkit-appearance: none;
          appearance: none;
}

.progress-bar progress::-moz-progress-bar {
  background: var(--primary)
}

.progress-bar progress[value]::-webkit-progress-bar {
  background-color: transparent
}

.progress-bar progress[value]::-webkit-progress-value {
  background: var(--primary)
}
